.landing_section {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.c1 {
  display: flex;
  gap: 10rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.media_ctr {
  background-color: lightgray;
  width: calc(1920px / 4);
  height: calc(1920px / 4);
  border-radius: 20px;
  overflow: hidden;
}
.txt {
  --radical-x: 90%;
  --radical-y: 90%;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: #fff;
  font-size: 36px;
  font-weight: 400;
  max-width: 503px;
  line-height: 1.2;
  background: radial-gradient(
    var(--radical-x) var(--radical-y) at 15% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.heading h2 {
  font-size: 32px;
  font-weight: 500;
}
