.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 10px;
  /* box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1); */
}

.heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.form_group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: block;
  font-size: 14px;
  color: #ccc;
  margin-bottom: 5px;
}

.input,
.textarea,
.select,
.checkbox_group {
  width: 100%;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #2b2b2b;
  color: #fff;
  font-size: 16px;
}

.textarea {
  height: 100px;
  resize: none;
}

.select {
  cursor: pointer;
}

.tags_container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.tag.active {
  background-color: #007bff;
  color: black;
}

.checkbox_group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox_group label {
  background: #333;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.checkbox_group input[type="checkbox"] {
  display: none;
}

.checkbox_group input[type="checkbox"]:checked + label {
  background: #007bff;
  color: #1e1e1e;
  font-weight: bold;
}

.file_input {
  display: block;
  border: 1px dashed #444;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: #bbb;
}

.file_input:hover {
  border-color: #888;
}

.submit_btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.submit_btn:hover {
  background: #0056b3;
}

.success_message {
  background: rgba(50, 205, 50, 0.1);
  color: #32cd80;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}

.error_message {
  background: rgba(255, 0, 0, 0.1);
  color: #ff2341;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
}
.image_preview_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.image_preview {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.remove_btn {
  background-color: #ff243e;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 2px;
}

.add_section_btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.sections_container {
  margin-top: 20px;
}

.section_item {
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
