.bg_vid_ctr {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1000;
  mask: radial-gradient(
    50% 50% at 50% 50%,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.bg_vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  /* filter: saturate(0); */
}
