.extra_section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.heading {
  font-size: 32px;
  font-weight: 400;

  /* text-shadow: 0px 1px 9px rgba(0, 0, 0, 0.25); */
  -webkit-text-stroke-width: 0.5;
  -webkit-text-stroke-color: #fff;

  background: radial-gradient(
    55% 50% at 50% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0.65) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bodytxt {
  max-width: 450px;
  font-size: 36px;
  font-weight: 200;
  line-height: 1.2;

  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn_p {
  position: relative;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(140deg, #fff 0%, #ffffff01 90%); */

  border-radius: 32px;
  background: radial-gradient(
      118.7% 67.86% at 3.14% 12.79%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    #0065be;
  transition: box-shadow 500ms ease-in-out;
}
.btn_p::after {
  content: "";
  position: absolute;

  width: 101%;
  height: 104%;
  border-radius: 32px;
  background: linear-gradient(140deg, #fff 0%, #ffffff01 90%);
  z-index: -1;
  transition: box-shadow 500ms ease-in-out;
}
.btn_p:hover {
  z-index: 0;
  box-shadow: -41px 0 70px #ffffff4f, 40px 0 70px #279aff66;
}