.home_section {
  /* height: 200vh;
    background-color: red; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 100vh;
}
.heading_ctr {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.jelly_tags {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: var(--bullet-fs);
}
.jelly_tags li {
  display: flex;
  padding: 4px 18px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: radial-gradient(
    80% 130% at 0% 10%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.heading {
  --radical-x: 50%;
  --radical-y: 80%;
  text-align: center;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: #fff;
  font-family: Poppins;
  font-size: var(--h1-fs);
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 127.778% */
  background: radial-gradient(
    var(--radical-x) var(--radical-y) at 50% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn_p {
  position: relative;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  /* border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(140deg, #fff 0%, #ffffff01 90%); */

  border-radius: 32px;
  background: radial-gradient(
      118.7% 67.86% at 3.14% 12.79%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    #0065be;
  transition: box-shadow 500ms ease-in-out;
}
.btn_p::after {
  content: "";
  position: absolute;

  width: 101%;
  height: 104%;
  border-radius: 32px;
  background: linear-gradient(140deg, #fff 0%, #ffffff01 90%);
  z-index: -1;
  transition: box-shadow 500ms ease-in-out;
}
.btn_p:hover {
  z-index: 0;
  box-shadow: -41px 0 70px #ffffff4f, 40px 0 70px #279aff66;
}
.social_ctr {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
}
.social_links {
  display: flex;
  gap: 10px;
}

@media (max-width: 550px) {
  .home_section{
    gap: 40px;
  }
  .heading{
    gap: 15px;
    line-height: 1.5;
    font-size: 22px;
  }
  .jelly_tags{
    gap: 20px;
  }
  .jelly_tags li{
    padding: 4px 16px;
    font-size: 9px;
  }
  .btn_p{
    padding: 8px 24px;
    font-size: 12px;
  }
  .social_ctr{
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  
  .heading{

    font-size: 18px;
  }

  .social_links li{
    transform: scale(0.9);
  }
}