nav{
    position: relative;
    z-index: 1000;
    
}
.navbar{
    /* background-color: purple; */
    
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    padding-bottom: 0.5rem;
    /* background: #ffffff01;
    backdrop-filter: blur(20px); */
    background: rgba(5, 8, 14, 0.1);
    backdrop-filter: blur(20px);
}
.nav_links{
    display: flex;
    gap: 50px;
}
.logo img{
    width: 150px;
}