nav {
  position: relative;
  z-index: 1000;
}
.navbar {
  /* background-color: purple; */

  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  padding-bottom: 0.5rem;
  /* background: #ffffff01;
    backdrop-filter: blur(20px); */
  mask: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.987) 15.5%,
    rgba(0, 0, 0, 0.951) 28.9%,
    rgba(0, 0, 0, 0.896) 40.4%,
    rgba(0, 0, 0, 0.825) 50.3%,
    rgba(0, 0, 0, 0.741) 58.6%,
    rgba(0, 0, 0, 0.648) 65.6%,
    rgba(0, 0, 0, 0.55) 71.4%,
    rgba(0, 0, 0, 0.45) 76.3%,
    rgba(0, 0, 0, 0.352) 80.5%,
    rgba(0, 0, 0, 0.259) 84.1%,
    rgba(0, 0, 0, 0.175) 87.3%,
    rgba(0, 0, 0, 0.104) 90.3%,
    rgba(0, 0, 0, 0.049) 93.3%,
    rgba(0, 0, 0, 0.013) 96.4%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  /* background: rgba(5, 8, 14, 0.1); */
  /* backdrop-filter: blur(20px); */
}
.nav_links {
  display: flex;
  gap: 50px;
}
.logo img {
  width: 150px;
}

/* Menu button */
.menu_toggle {
  display: none;
}
.hamburger {
  cursor: pointer;
}
.hamburger input {
  display: none;
}
.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line_top_bottom {
  stroke-dasharray: 12 63;
}
.hamburger input:checked + svg {
  transform: rotate(-45deg);
}
.hamburger input:checked + svg .line_top_bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@media (max-width: 850px) {
  .nav_links {
    display: none;
  }
  .menu_toggle {
    display: block;
  }
}
@media (max-width: 550px) {
  .navbar {
    padding: 1rem 2rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 400px) {
  .logo img {
    width: 120px;
  }
  .navbar {
    padding: 0.5rem 1.5rem;
    padding-bottom: 0.5rem;
  }
  .menu_toggle{
    transform: scale(0.8);
  }
}