.preloader_section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader_ctr {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  
}
.logo {
  margin-top: 7px;
}
.preloader_animation {
  width: 300px;
  height: auto;
  border-radius: 9px;
}
.tags {
  margin-top: 5px;
  font-size: 12px;
  display: flex;
  padding: 4px 18px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: radial-gradient(
    80% 130% at 0% 10%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
