.contact_form_section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  padding: 5rem 5rem;
  margin-bottom: 5rem;
}

.img_ctr {
  width: calc(1080px / 2);
  height: calc(1080px / 2);
  /* background-color: lightgray; */
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  /* border: 5px solid var(--bg); */
}
.img_ctr img{
  width: 100%;
  object-fit: cover;
  object-position: 0 -50px;
}
.img_ctr video{
  width: 100%;
  object-fit: cover;
  object-position: 0 -50px;
}
.c2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.heading_txt_ctr {
  max-width: 370px;
}
.heading_txt {
  --radical-x: 90%;
  --radical-y: 90%;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: #fff;

  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;

  background: radial-gradient(
    var(--radical-x) var(--radical-y) at 15% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form_ctr {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.intrest_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.jelly_tags {
  text-align: center;
  display: flex;
  gap: 20px;
  font-size: var(--bullet-fs);
}
.jelly_tags .active {
  background: radial-gradient(
      80% 130% at 0% 10%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    #0065be;
}
.jelly_tags li {
  display: flex;
  padding: 4px 18px;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: radial-gradient(
    80% 130% at 0% 10%,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  cursor: pointer;
}
.form_input{
  position: relative;
}
.form_input input {
  width: 100%;
  padding: 15px 5px;
  background: none;
  border: none;
  font-size: 14px;
  color: var(--white);
  border-bottom: 1px solid var(--white);
}
input:focus {
  outline: none;
}

.contact_info {
  display: flex;
  gap: 30px;
}

.btn_p {
  position: relative;
  display: flex;
  padding: 10px 30px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  /* font-weight: 600; */
  font-size: 16px;
  cursor: pointer;
  background: radial-gradient(
      70% 110% at 0% 0%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    #0065be;
  transition: box-shadow 500ms ease-in-out;
}
.btn_p::after {
  content: "";
  position: absolute;

  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 32px;
  background: linear-gradient(140deg, #fff 0%, #ffffff01 90%);
  z-index: -1;
  transition: box-shadow 500ms ease-in-out;
}
.btn_p:hover {
  z-index: 0;
  box-shadow: -41px 0 70px #ffffff4f, 40px 0 70px #279aff66;
}

/* Floating Success Message */
.floatingMessage {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #27b35a;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  /* font-weight: bold; */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInOut 5s ease-in-out;
  z-index: 1000;
}

.error {
  border: 2px solid rgb(233, 15, 55);
}

.error_message {
  position: absolute;
  top: -15px;
  color: rgb(233, 15, 55);
  font-size: 0.8rem;
  margin-top: 5px;
}

/* Animation for floating message */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  10% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  90% {
    opacity: 1;
    transform: translateX(-50%) translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}

@media (max-width: 1290px) {
  .contact_form_section{
    padding: 0;
    padding-top: 5rem;
    gap: 2rem;
  }
}
@media (max-width: 1000px) {
  .c1{
    display: none;
  }
}
@media (max-width: 850px) {
  .contact_form_section{
    padding-top: 5rem;
  }
  .c1{
    display: none;
  }
}
@media (max-width: 550px) {
  .contact_form_section{
    padding: 5rem 2rem;
    padding-bottom: 0;
  }
}
@media (max-width: 470px) {
  .heading_txt{
    font-size: 24px;
  }
  .contact_form_section{
    display: block;
    padding-top: 6rem;
  }
  .jelly_tags{
    flex-wrap: wrap;
  }
  .form_ctr{
    width: 100%;
  }
  .form_ctr *{
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .contact_form_section{
    padding: 0 1.5rem;
    padding-top: 6rem;
  }
}