.values_section {
  min-height: 100vh;
  width: 100%;
  padding: 0 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading_ctr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 2rem;
}
.heading {
  display: flex;
  flex-direction: column;
}
.heading_top,
.heading_bottom {
  display: flex;
  gap: 50px;
}
.heading h3 {
  --radical-x: 90%;
  --radical-y: 90%;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: #fff;

  font-size: 56px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;

  background: radial-gradient(
    var(--radical-x) var(--radical-y) at 15% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txt_content {
  max-width: 370px;
}

.cards_strip{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.card {
  max-width: 270px;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;

  background: radial-gradient(
      100% 100% at -40% -14%,
      rgba(246, 246, 246, 0.4) 0%,
      rgba(246, 246, 246, 0) 100%
    ),
    rgba(5, 7, 9, 0.5);
}

.serial_no {
  --radical-x: 50%;
  --radical-y: 50%;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: #fff;

  font-size: 18px;
  line-height: 1;
  font-weight: 300;

  background: radial-gradient(
    var(--radical-x) var(--radical-y) at 15% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card_heading {
  --radical-x: 50%;
  --radical-y: 50%;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: #fff;

  font-size: 22px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 20px;

  background: radial-gradient(
    var(--radical-x) var(--radical-y) at 15% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 900px) {
  .heading h3{
    font-size: 32px;
  }
  .txt_content{
    font-size: 12px;
    max-width: 320px;
  }
}
@media (max-width: 550px) {
  .values_section{
    padding: 5rem 2rem;
  }
  .heading_top,.heading_bottom{
    gap: 28px;
  }
}
@media (max-width: 500px) {
  .card{
    padding: 40px 35px;
  }
  .card_heading{
    font-size: 18px;
  }
  .card p{
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .heading_ctr{
    flex-wrap: wrap;
  }
  .values_section{
    padding: 5rem 1.5rem;
  }
}